# Maven target folder
target/

# Compiled class files
*.class

# Packaged files
*.jar
*.war
*.ear

# Logs
*.log

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Jenkins file
jenkins.war